@font-face {
    font-family: 'OPTICopperplate';
    src: url('OPTICopperplate-Light.eot');
    src: url('OPTICopperplate-Light.eot?#iefix') format('embedded-opentype'),
        url('OPTICopperplate-Light.woff2') format('woff2'),
        url('OPTICopperplate-Light.woff') format('woff'),
        url('OPTICopperplate-Light.ttf') format('truetype'),
        url('OPTICopperplate-Light.svg#OPTICopperplate-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

