body {
    background-color: #e0e0e0;
}

.chart-header h4 {
    font-weight: 600;
}

/* .card-gutter-sm {
            margin-top: .5rem;
        } */

.chart-wrapper {
    height: 350px;
}

button.btn-tooltip {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    button.btn-tooltip > i {
        font-size: .75rem;
    }

.datepicker td,
.datepicker th {
    padding: 7px;
}

.datepicker th {
    font-weight: 600;
}

.custom-date-range .input-group-addon {
    border-top: 1px solid #ADB5BD !important;
    border-bottom: 1px solid #ADB5BD !important;
    height: 40.5px;
}

    .custom-date-range .input-group-addon.border-left {
        border-left: 1px solid #ADB5BD !important;
        border-radius: 3px 0 0 3px;
    }

.input-daterange input.form-control {
    padding: 0.75rem 1rem !important;
    width: 100%;
    max-width: 105px;
}

@media screen and (min-width: 415px) {
    .date-range-from-group, .row-custom {
        display: flex;
    }
}
