@model IEnumerable<FUNDING.Models.CardGenerationModule.DataLayer.CardTemplates>


@*<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="pills-templates-tab">
    </div>*@

<div class="card-templates-search bg-white">
    <div class="heading-text pb-3 pt-2">
        <h3 class="">Card Templates</h3>
    </div>
    @*<div class="form-group pb-2 search-field">
            <input id="search" class="form-control" type="text" name="search" placeholder="Search for Templates">
            <span class="search-icon-wrapper">
                <i class="fas fa-search"></i>
            </span>
        </div>*@
</div>
<div class="card-template-list px-3">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 pb-2 image-container">
                <img class="img-fluid" src="@Url.Content(item.CardTemplateFilePath)" alt="">
                <div class="hv-middle-overlay">
                    <div class="text">Select</div>
                </div>
            </div>
        }
    </div>
</div>
