

<div class="chart-container position-relative">
    <div class="chart-wrapper">
        <canvas id="invitees-chart"></canvas>
    </div>

    @ViewBag.Test
    <div class='ripple-pre-loader-wrapper justify-content-center align-items-center position-absolute'>
        <div class='ripple-pre-loader'>
            <div></div>
            <div></div>
        </div>
    </div>
</div>