@font-face {
    font-family: 'Updock';
    src: url('Updock-Regular.eot');
    src: url('Updock-Regular.eot?#iefix') format('embedded-opentype'),
        url('Updock-Regular.woff2') format('woff2'),
        url('Updock-Regular.woff') format('woff'),
        url('Updock-Regular.ttf') format('truetype'),
        url('Updock-Regular.svg#Updock-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

