@model FUNDING.BL.BusinessEntities.Masters.Customers

@{
    AjaxOptions deleteCustomersAjaxOptions = new AjaxOptions();
    deleteCustomersAjaxOptions.HttpMethod = "POST";
    //deleteCustomersAjaxOptions.UpdateTargetId = "divCustomers";
    deleteCustomersAjaxOptions.OnBegin = "OnBeginRequestDelete";
    deleteCustomersAjaxOptions.OnSuccess = "OnSuccessRequestDelete";
    //deleteCustomersAjaxOptions.OnComplete = "OnCompleteRequestDelete";
    deleteCustomersAjaxOptions.OnFailure = "OnFailureRequestDelete";
    deleteCustomersAjaxOptions.Confirm = "Do you want to delete a customer?";
}

@using (Ajax.BeginForm(actionName: "AjaxHelperDeleteForm", controllerName: "Customers", routeValues: null,
    ajaxOptions: deleteCustomersAjaxOptions, htmlAttributes: new { id = "ajaxHelperDeleteForm", @class = "d-none" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color d-none">
        @Html.HiddenFor(model => model.cust_reg_sno)
        <input id="deleteBtn" type="submit" value="Delete" class="btn btn-primary d-none" />
    </div>
}