
@model FUNDING.Models.Notifications.WhatsAppNotification

@{ 
    AjaxOptions deleteCustomerEventsAjaxOptions = new AjaxOptions();
    deleteCustomerEventsAjaxOptions.HttpMethod = "POST";
    //deleteCustomerEventsAjaxOptions.UpdateTargetId = "divCustomers";
    deleteCustomerEventsAjaxOptions.OnBegin = "OnBeginRequestDelete";
    deleteCustomerEventsAjaxOptions.OnSuccess = "OnSuccessRequestDelete";
    //deleteCustomerEventsAjaxOptions.OnComplete = "OnCompleteRequestDelete";
    deleteCustomerEventsAjaxOptions.OnFailure = "OnFailureRequestDelete";
    deleteCustomerEventsAjaxOptions.Confirm = "Do you want to delete an event?";
    
    }

@using (Ajax.BeginForm(actionName: "AjaxHelperDeleteCustomerEventForm", controllerName: "Customers", routeValues: null,
    ajaxOptions: deleteCustomerEventsAjaxOptions, htmlAttributes: new { id = "ajaxHelperDeleteCustomerEventForm", @class = "d-none" }))
{
@Html.AntiForgeryToken()

                <div class="form-actions no-color d-none">
                    @Html.HiddenFor(model => model.Event_Id)
                    <input id="deleteEBtn" type="submit" value="Delete" class="btn btn-primary d-none" />
                </div>}