@model FUNDING.Models.CollectionModule.Contributions

@{ AjaxOptions SmsAllContributionsAjaxOptions = new AjaxOptions();
    SmsAllContributionsAjaxOptions.HttpMethod = "POST";
    //SmsAllContributionsAjaxOptions.UpdateTargetId = "divContributions";
    SmsAllContributionsAjaxOptions.OnBegin = "OnBeginRequestSmsAll";
    SmsAllContributionsAjaxOptions.OnSuccess = "OnSuccessRequestSmsAll";
    //SmsAllContributionsAjaxOptions.OnComplete = "OnCompleteRequestSmsAll";
    SmsAllContributionsAjaxOptions.OnFailure = "OnFailureRequestSmsAll";
    //SmsAllContributionsAjaxOptions.Confirm = "Do you want to SmsAll invitee?";
    }

    @using (Ajax.BeginForm(actionName: "AjaxHelperSmsAllForm", controllerName: "Contributions", routeValues: null,
        ajaxOptions: SmsAllContributionsAjaxOptions, htmlAttributes: new { id = "ajaxHelperSmsAllForm", @class = "d-none", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color d-none">
            @Html.HiddenFor(model => model.Contribution_id)
            <input id="SmsAllBtn" type="submit" value="SmsAll" class="btn btn-primary d-none" />
        </div>
    }