@font-face {
    font-family: 'Aphrodite Slim Pro';
    src: url('AphroditeSlimPro.eot');
    src: url('AphroditeSlimPro.eot?#iefix') format('embedded-opentype'),
        url('AphroditeSlimPro.woff2') format('woff2'),
        url('AphroditeSlimPro.woff') format('woff'),
        url('AphroditeSlimPro.ttf') format('truetype'),
        url('AphroditeSlimPro.svg#AphroditeSlimPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aphrodite Slim Pro';
    src: url('AphroditeSlimPro_1.eot');
    src: url('AphroditeSlimPro_1.eot?#iefix') format('embedded-opentype'),
        url('AphroditeSlimPro_1.woff2') format('woff2'),
        url('AphroditeSlimPro_1.woff') format('woff'),
        url('AphroditeSlimPro_1.ttf') format('truetype'),
        url('AphroditeSlimPro_1.svg#AphroditeSlimPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

