*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    /*min-height: 100vh;*/
}

.min-width-150px {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
}

/* card-stage */
.card-stage-wrapper {
    min-height: calc(100vh - 165px);
}
/* v-pills-tab */
#v-pills-tab {
    background-color: #f6f6f6;
    width: 100px;
    z-index: 10;
    border-right: solid #b7b7b7 1px;
}

    #v-pills-tab button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0.25rem;
        justify-content: space-evenly;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 0.15rem;
    }

#v-pills-tabContent {
    top: 0;
    left: 100px;
    width: 300px;
    background-color: white;
    border-right: solid #b7b7b7 1px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

    #v-pills-tabContent.show {
        left: 100px;
        width: 300px;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out;
    }

    #v-pills-tabContent.hide {
        left: 100px;
        transform: translateX(-300px);
        transition: transform 0.4s ease-in-out;
    }

.tab-toggle-button {
    /*position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;*/
    /*background-color: #0d6efd;
            width: 15px;
            height: 65px;
            cursor: pointer;*/
}

#align-text-wrapper .dropdown-item.active, #align-text-wrapper .dropdown-item:active {
    color: #1e2125;
    background-color: #e9ecef;
}


.card-main-viewport {
    background-color: #fff;
}

    .card-main-viewport.c-vw-full {
        padding: 0;
        transition: padding 0.4s ease-in-out;
    }

    .card-main-viewport.c-vw-resized {
        padding-left: 300px;
        transition: padding 0.4s ease-in-out;
    }

/* Viewport */
.top-controls,
.bottom-controls {
    height: 50px;
}

.top-controls {
    border-bottom: solid #b7b7b7 1px;
}

.bottom-controls {
    border-top: solid #b7b7b7 1px;
}

.item-color {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    background-color: black;
}

.btn-outline-secondary.active {
    background-color: #e6eaee;
}

.main-viewport {
    background-color: #f6f6f6;
    flex: 1 1 auto;
    padding: 0 15px;
    overflow: auto;
    height: calc(100vh - 100px);
}

.heading-text h3 {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    padding: 0px;
    margin: 0px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.33;
}

.card-templates-search {
    height: 40px;
}

/* Search Field */
.search-field {
    position: relative;
}

.search-icon-wrapper {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 35px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.head-link {
    cursor: pointer;
}

/* Card viewport */
.main-viewport .card-main-template {
    /* I am using A5 dimension in millimeter*/
    width: 148.2mm;
    height: 209.9mm;
    margin: 0 auto;
    /*background-image: url("@Url.Content(ViewBag.DefaultCardTemplate)");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: dashed #0d6efd 2px;
}

.card-item {
    border: solid #0d6efd 1px;
    /* margin-bottom: 2rem; */
    cursor: move;
    min-height: 1.25rem;
}

.bold-card-item > * {
    font-weight: 700 !important;
}

.italic-card-item > * {
    font-style: italic !important;
}

.text-underline-card-item > * {
    text-decoration: underline !important;
}

#text-align-list a {
    display: flex;
    justify-content: space-between;
}


.card-item > * {
    font-size: 1.5rem;
    font-family: Arial;
    text-align: center;
    display: block;
    color: rgb(0,0,0);
}

.card-item.ui-draggable-dragging,
.card-item.focus {
    border: solid #0d6efd 3px;
}

.card-main-template .card-qr-code {
    height: 165px;
    width: 165px;
    background-size: contain;
    /*background: url(@Url.Content(ViewBag.DefaultQRCode));*/
}

.image-container {
    position: relative;
    cursor: pointer;
}

.hv-middle-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
}

.image-container:hover .hv-middle-overlay {
    opacity: 1;
}

.image-container img {
    transition: opacity .4s ease-in-out;
    opacity: 1;
}

.image-container:hover img {
    opacity: 0.5;
}


.text {
    background-color: #04AA6D;
    color: white;
    font-size: .875rem;
    padding: .25rem;
    border-radius: .25rem;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.color-box {
    background: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: rgba(16, 20, 38, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

    .color-box:hover {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px inset;
        border: 2px solid rgb(44, 131, 235);
    }

.color-box-1 {
    background-color: #545454;
}

.color-box-2 {
    background-color: #737373;
}

.color-box-3 {
    background-color: #A6A6A6;
}

.color-box-4 {
    background-color: #D9D9D9;
}

.color-box-5 {
    background-color: #FFFFFF;
}

.color-box-6 {
    background-color: #D30000;
}

.color-box-7 {
    background-color: #FF2400;
}

.color-box-8 {
    background-color: #E0115F;
}

.color-box-9 {
    background-color: #FF0090;
}

.color-box-10 {
    background-color: #FDB9C8;
}

.color-box-11 {
    background-color: #F987C5;
}

.color-box-12 {
    background-color: #4876FF;
}

.color-box-13 {
    background-color: #0038A8;
}

.color-box-14 {
    background-color: #6F2DA8;
}

.color-box-15 {
    background-color: #B200ED;
}

.color-box-16 {
    background-color: #DE73FF;
}

.color-box-17 {
    background-color: #9BDDFF;
}

.color-box-18 {
    background-color: #5CE1E6;
}

.color-box-19 {
    background-color: #98FB98;
}

.color-box-20 {
    background-color: #50C878;
}

.color-box-21 {
    background-color: #3BB143;
}

.color-box-22 {
    background-color: #50C878;
}

.color-box-23 {
    background-color: #C7EA46;
}

.color-box-24 {
    background-color: #FC6600;
}

.color-box-25 {
    background-color: #F9812A;
}

.color-box-26 {
    background-color: #F9A602;
}

.color-box-27 {
    background-color: #FCD12A;
}

.color-box-28 {
    background-color: #FFF200;
}

.color-box-29 {
    background-color: #EFFD5F;
}


footer.footer p {
    font-size: 0.75rem;
}

#sidebar-menu {
    position: absolute;
    width: 220px;
    height: 100%;
    top: 0;
    transform: translateX(-220px);
    z-index: 20;
    padding-top: 70px;
    background: #fff;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

    #sidebar-menu.active {
        transform: translateX(0px);
    }

#sidebarnav {
    display: flex;
    flex-direction: column;
}

.horizontal-nav .sidebar-nav {
    padding: 15px 0 0 0;
}

    .horizontal-nav .sidebar-nav ul {
        margin: 0;
        padding: 0;
    }

    .horizontal-nav .sidebar-nav > ul > li {
        margin-bottom: 8px;
        margin-top: 8px;
        border-left: none;
    }

    .horizontal-nav .sidebar-nav #sidebarnav > li > a {
        color: #8d97ad;
        padding: 10px 35px 10px 15px;
        display: block;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        border-left: 3px solid transparent;
        border-bottom: none;
        line-height: 1.25;
        position: relative;
    }

    .horizontal-nav .sidebar-nav #sidebarnav .has-arrow > .has-arrow-dropdown-icon {
        position: absolute;
        right: 8px;
        top: 10px;
        width: 16px;
        height: 16px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .horizontal-nav .sidebar-nav #sidebarnav .has-arrow::after {
        display: none !important;
    }

    .horizontal-nav .sidebar-nav #sidebarnav .has-arrow.active > .has-arrow-dropdown-icon {
        /*top: 20px;*/
        -webkit-transform: rotate(-270deg);
        -ms-transform: rotate(-270deg);
        -o-transform: rotate(-270deg);
        transform: rotate(-270deg);
    }

    .horizontal-nav .sidebar-nav #sidebarnav .has-arrow.active + ul.collapse {
        display: block;
        position: relative;
        padding-left: 30px;
        background-color: transparent;
    }



    .horizontal-nav .sidebar-nav #sidebarnav > li > a:hover {
        background-color: transparent;
        color: #01c0c8;
        /*border-color: #01c0c8 !important;*/
    }

.skin-megna .sidebar-nav > #sidebarnav > li.active > a {
    color: #01c0c8;
    border-color: #01c0c8 !important;
    font-weight: 500;
}

.horizontal-nav .sidebar-nav #sidebarnav > li:hover > ul, .horizontal-nav .sidebar-nav #sidebarnav > li:hover > ul.collapse {
    display: none;
}
